<h1>$specialty.getName()</h1>

<ul>
  #foreach ($doctor  in $specialty.getDoctors())
    <li><a href="/doctors/$doctor.getId()">$doctor.getName()</a></li>
  #end
</ul>

<a href="/">Back to Home Page</a>
